
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jamie Kurtz's online JSON Web Token Builder">
    <meta name="author" content="Jamie Kurtz">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Online JWT Builder - Jamie Kurtz</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">JSON Web Token Builder</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="body-template">

        <form class="form-horizontal" role="form">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Standard JWT Claims
                </div>
                <div class="row">&nbsp;</div>
                <div class="form-group">
                    <label for="issuer" class="col-sm-2 control-label">Issuer</label>
                    <div class="col-sm-4">
                        <input type="text"
                               class="form-control"
                               id="issuer"
                               data-bind="value: standardClaims.issuer, valueUpdate:'afterkeydown'">
                    </div>
                    <p class="col-sm-5 text-success">Identifier (or, name) of the server or system issuing the token. Typically a DNS name, but doesn't have to be.</p>
                </div>
                <div class="form-group">
                    <label for="issuedAt" class="col-sm-2  control-label">Issued At</label>
                    <div class="col-sm-4">
                        <input type="text"
                               class="form-control"
                               id="issuedAt"
                               data-bind="value: standardClaims.issuedAt, valueUpdate:'afterkeydown'">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-success">Date/time when the token was issued.</p>
                        <p>
                            <button type="button" class="btn btn-primary btn-xs" data-bind="click:issuedAtSetNow">now</button>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-sm-2 control-label">Expiration</label>
                    <div class="col-sm-4">
                        <input type="text"
                               class="form-control"
                               id="expiration"
                               data-bind="value: standardClaims.expiration, valueUpdate:'afterkeydown'">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-success">Date/time at which point the token is no longer valid.</p>
                        <p>
                            <button type="button" class="btn btn-primary btn-xs" data-bind="click:expirationSetNow">now</button>
                            <button type="button" class="btn btn-primary btn-xs" data-bind="click:expirationSetTwentyMinutes">in 20 minutes</button>
                            <button type="button" class="btn btn-primary btn-xs" data-bind="click:expirationSetOneYear">in 1 year</button>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="audience" class="col-sm-2 control-label">Audience</label>
                    <div class="col-sm-4">
                        <input type="text"
                               class="form-control"
                               id="audience"
                               data-bind="value: standardClaims.audience, valueUpdate:'afterkeydown'">
                    </div>
                    <p class="col-sm-5 text-success">Intended recipient of this token; can be any string, as long as the other end uses the same string when validating the token. Typically a DNS name.</p>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-sm-2 control-label">Subject</label>
                    <div class="col-sm-4">
                        <input type="text"
                               class="form-control"
                               id="subject"
                               data-bind="value: standardClaims.subject, valueUpdate:'afterkeydown'">
                    </div>
                    <p class="col-sm-5 text-success">Identifier (or, name) of the user this token represents.</p>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Additional Claims
                </div>
                <div class="row">&nbsp;</div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Claim Type</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach:additionalClaims -->
                                <tr>
                                    <td style="width:150px">
                                        <input type="text"
                                               class="form-control"
                                               data-bind="value: claimType, valueUpdate:'afterkeydown'">

                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control"
                                               data-bind="value: value, valueUpdate:'afterkeydown'">
                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-5">
                        <p class="text-success">Use this section to define 0 or more custom claims for your token.
                            The claim type can be anything, and so can the value</p>
                            <button type="button" class="btn btn-primary btn-xs" data-bind="click:clearAllAdditionalClaims">clear all</button>
                            <button type="button" class="btn btn-primary btn-xs" data-bind="click:addOneAdditionalClaim">add one</button>
                            <button type="button" class="btn btn-primary btn-xs" data-bind="click:addEmailAdditionalClaim">add email claim</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Generated Claim Set (plain text)
                </div>
                <div class="row">&nbsp;</div>
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-1">
                        <pre data-bind="text: generatedClaimSetDisplay" />
                    </div>
                    <div class="col-sm-6">
                        <p class=" text-success">This section displays the claim-set portion of the token that will be signed and base64-encoded.</p>
                        <p>&nbsp;</p>
                        <p><em>
                                <ul data-bind="foreach: warnings">
                                    <li><span class="text-danger" data-bind="html: $data"> </span></li>
                                </ul>
                         </em></p>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Signed JSON Web Token
                </div>
                <div class="row">&nbsp;</div>
                <div class="form-group">
                    <label for="key" class="col-sm-2 control-label">Key</label>
                    <div class="col-sm-4">
                        <input type="text"
                               class="form-control"
                               id="key"
                               data-bind="value: key, valueUpdate:'afterkeydown'">
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default"  data-bind="click:createJwt">Create Signed JWT</button>
                    </div>
                    <div class="col-md-12">
                        &nbsp;
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <pre data-bind="text: createdJwt" />
                    </div>
                </div>
            </div>

        </form>



    </div>

</div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type='text/javascript' src='/js/knockout-3.1.0.js'></script>
<script src="/js/common.js"></script>
<script src="/js/viewModels.js"></script>

<script>

    ko.applyBindings(createMaster());

</script>



</body>
</html>
